:root{
  --mainColor:#eaeaea;
  --secondaryColor:#fff;

  --borderColor: #c1c1c1;


  --mainText: black;
  --secondaryText: #4b5156;

  --themeDotColor: #24292e;
  --previewBg: rgb(251,249,243,.8);
  --previewShadow: #f0ead6;

}

html, body{
  margin: 0;
  padding: 0;
}


h1, h2, h3, h4, h5, h6, strong{
  color: var(--mainText);
  font-family: 'Russo One', sans-serif;
  font-weight: 500;
}

p, li,  label, span, textarea, input{
  color: var(--secondaryText);
  font-family: 'Roboto Mono', monospace;
}

a{
  text-decoration: none;
  color: #17a2b8;
}

ul{
  list-style: none;
}

.s1{
  display: flex;
  justify-content: start;
  background-color: var(--mainColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
}

.s2{
  display: flex;
  justify-content: start;
  background-color: var(--secondaryColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
}

.main-container{
  width: 1200px;
  margin: auto 100px;
}

.greeting-wrapper{
  display: grid;
  /* justify-content: center; */
  text-align: center;
  align-content: center;
  min-height: 10em;
}

.intro-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 3em 30em; */
  grid-template-areas: 
    "nav-wrapper nav-wrapper"
    "left-column right-column"
  ;
  background-color: var(--secondaryColor);
  border: var(--borderColor);
  border-radius: 5px 5px 0 0;

  -webkit-box-shadow: -1px -1px 3px -1px rgba(0,0,0,0.75);
-moz-box-shadow: -1px -1px 3px -1px rgba(0,0,0,0.75);
box-shadow: -1px -1px 3px -1px rgba(0,0,0,0.75);
}

#navigation{
  padding: 10px;
}

#navigation li{
  display: inline;
  margin-right: 5px;
  margin-left: 5px;
}

.nav-wrapper{
  grid-area: nav-wrapper;
  border-bottom: 1px solid var(--borderColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--mainColor);
  border-radius: 5px 5px 0 0;
}

.dots-wrapper{
  display: flex;
  padding-left: 10px;
}

.browser-dot{
  height: 15px;
  width: 15px;
  background-color: black;
  border-radius: 50%;
  margin: 5px;
}

#dot1{
  background-color: #fc6058;
}

#dot2{
  background-color: #fec02f
}

#dot3{
  background-color: #2aca3e;
}


.left-column{
  grid-area: left-column;
  padding-top: 50px;
  padding-bottom: 50px;

}

#profile-pic{
  display: block;
  margin: 0 auto;
  height: 200px;
  width: 200px;
  object-fit: cover;
  border: 2px solid var(--borderColor);
}

.theme-dot{
  height: 30px;
  width: 30px;
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
  margin-left:5px;
  border: 2px solid var(--themeDotColor);

  -webkit-box-shadow: -1px -1px 3px -1px rgba(0,0,0,0.75);
-moz-box-shadow: -1px -1px 3px -1px rgba(0,0,0,0.75);
box-shadow: -1px -1px 3px -1px rgba(0,0,0,0.75);
}

.theme-dot:hover{
  border: 5px solid;
}


#light-mode{
  background-color: #fff;
}

#blue-mode{
  background-color: #192734;
}

#green-mode{
  background-color: #78866b;
}

#purple-mode{
  background-color: #7e4c74;
}

#setting-note{
  text-align: center;
  font-style: italic;
  font-size: 12px;
}



#theme-opt-wrapper{
  display: flex;
  justify-content: center;
}

.right-column{
  grid-area: right-column;
  display: grid;
  align-content: center;
}

#preview-shadow{
  width: 300px;
  height: 200px;
  padding-left: 50px;
  padding-top: 50px;
  background-color: var(--previewShadow);
}

#preview{
  width: 300px;
  padding: 15px;
  background-color: var(--previewBg);
  border: 1.5px solid #17a2b8;
  position: relative;
  
}

.corner{
  position: absolute;
  width: 7px;
  height: 7px;
  border: 1.5px solid #17a2b8;
  border-radius: 50%;
  background-color: #fff;
}

#tl{
  top: -5px;
  left: -5px;
}

#tr{
  top: -5px;
  right: -5px;
}

#bl{
  bottom: -5px;
  left: -5px;
}

#br{
  bottom: -5px;
  right: -5px;
}


.about-wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 100px;
}

#skill{
  display: flex;
  justify-content: space-evenly;
  background-color: var(--previewBg);
}

.social-links{
  display: grid;
  align-content: center;
  text-align: center;
}

.post-wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  gap: 20px;
  justify-content: center;
  padding-bottom: 50px;
}

.post{
  border: 1px solid var(--borderColor);

  -webkit-box-shadow: -1px -1px 3px -1px rgba(0,0,0,0.75);
-moz-box-shadow: -1px -1px 3px -1px rgba(0,0,0,0.75);
box-shadow: -1px -1px 3px -1px rgba(0,0,0,0.75);
}

.post-preview{
  padding: 15px;
  background-color: #fff;
}

.post-title{
  color: black;
  margin: 0;
}

.post-intro{
  color: #4b5156;
  font-size: 14px;
}

.thumnail{
  display: block;
  width: 100%;
  height: 180px;
  object-fit: fill;
}