:root{
    --mainColor:#152028;
    --secondaryColor:#fff;
  
    --borderColor: #164d56;
  
  
    --mainText: #fff;
    --secondaryText: #eeeeee;
  
    --themeDotColor: #fff;
    --previewBg: rgb(25,39,52,.8);
    --previewShadow: #111921;

    --buttunColor: #17a2b8;
  
  }