:root{
    --mainColor:#606b56;
    --secondaryColor:#515948;
  
    --borderColor: #161914;
  
  
    --mainText: #fff;
    --secondaryText: #eeeeee;
  
    --themeDotColor: #fff;
    --previewBg: rgb(81,90,72,.8);
    --previewShadow: #2a2f25;

    --buttunColor: #17a2b8;
  
  }